@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* Shared styles */

body {
    font-family: 'Mulish', sans-serif;
}

.btn-primary {
    width: 174px;
    height: 48px;
    font-size: 1.25rem;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-right: 16px;
    color: #FFF;
    text-align: center;
    font-weight: 800;

}

.primary-text {
    color: rgba(19, 19, 24, 0.70);
}

.title-styled {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Header styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 130px;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
}

nav a {
    text-decoration: none;
}

.title-box {
    display: flex;
    align-items: center;
}

.title-box h3 {
    white-space: nowrap;
    margin-left: 10px;
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.text-clr-cng {
    color: #FF5400
}

.logo {
    width: 20%;
    height: 50%;
}

nav a {
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
}

/* First Banner section styles */

.first-banner {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    margin: 0 auto;
    justify-content: center;
    padding: 105px 200px;
}

.first-banner>h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.first-banner>p {
    color: #FFF;
    text-align: center;
    margin-bottom: 80px;
}

.first-banner .inputs {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.first-banner .input {
    padding: 16px 16px;
    border: 0;
    border-radius: 8px;
    margin: 16px 24px;
}


.first-banner .btn-primary {
    font-weight: 700px;
    font-size: 1rem;
}

/* popular-tours section styles */

.popular-tours {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.text-description {

    max-width: 580px;

}

.text-description>h2 {
    text-align: left;
}

.text-description>p,
li {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    padding-top: 20px;
    text-align: left;
}

.text-description>button {
    margin-top: 30px;
}

/* choose-your-destination section styles */

.choose-your-destination h2,
p {
    max-width: 640px;
    text-align: center;
    margin: 20px auto;
}

/* Locations style section */

.row-1,
.row-2,
.row-3 {
    display: flex;
    gap: 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    justify-content: center;

}

.box{
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 24px;
}

.Maldives {
    background-image: url(../Images/Rectangle\ 5.png);
    padding: 132px 227px;
}

.Indonesia {
    background-image: url(../Images/Rectangle\ 8.png); 
    padding: 132px 227px; 
}

.Srilanka {
background-image: url(../Images/Rectangle\ 6.png);
padding: 125px 130px;
}
.America {
    background-image: url(../Images/Rectangle\ 7.png);
padding: 125px 137px;
}

.Kashmir {
    background-image: url(../Images/Rectangle\ 9.png);
    padding: 125px 80px;
}

.Bangladesh{
    background-image: url(../Images/Rectangle\ 11.png);
    padding: 132px 155px;
}
.Bandarban {
    background-image: url(../Images/Rectangle\ 10.png);
    padding: 132px 260px;
}




/* Responsive styles */
/* Responsive styles */
/* Responsive styles */
/* Responsive styles */
/* Responsive styles */
/* Mobile */
@media screen and (max-width: 576px) {

    nav {
        margin-left: -15px;
        text-align: left;
        padding: 8px 30px;
    }

    .title-box h3 {
        font-size: 1.35rem;
    }

    nav>ul {
        display: none;
    }

    /* first-banner responsive */

    .first-banner {
        padding: 10px;
        background-size: cover;
        align-items: center;
        padding: 20px 60px;
        border-radius: 8px;
    }

    .first-banner>h1 {
        font-size: 1.375rem;
        margin-bottom: 0px;
    }

    .first-banner>p {
        margin: 10px auto;
    }

    .first-banner .inputs {
        flex-direction: column;
        margin: 5px auto;
        padding-bottom: 10px;
    }

    .first-banner .input {
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .first-banner .btn-primary {
        margin-top: 16px;
    }

    /* popular-tours responsive  */

    .popular-tours {
        flex-direction: column;
    }

    .text-description>h2 {
        font-size: 1.25rem;
    }

    .text-description>p {
        font-size: 0.875rem;
    }

    .text-description {
        max-width: 350px;
        margin: 0px auto;
        margin-top: -80px;
    }

    .img-mountain {
        margin: 0 20px;
        max-width: 335px;
        max-height: 342px;
    }

}