@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* Shared styles */

body {
    font-family: 'Mulish', sans-serif;
}

.btn-primary {
    width: 174px;
    height: 48px;
    font-size: 1.25rem;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-right: 16px;
    color: #FFF;
    text-align: center;
    font-weight: 800;

}

.primary-text {
    color: rgba(19, 19, 24, 0.70);
}

.title-styled {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Header styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 130px;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
}

nav a {
    text-decoration: none;
}

.title-box {
    display: flex;
    align-items: center;
}

.title-box h3 {
    white-space: nowrap;
    margin-left: 10px;
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.text-clr-cng {
    color: #FF5400
}

.logo {
    width: 20%;
    height: 50%;
}

nav a {
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
}

/* First Banner section styles */

.first-banner {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    margin: 0 auto;
    justify-content: center;
    padding: 105px 200px;
}

.first-banner>h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.first-banner>p {
    color: #FFF;
    text-align: center;
    margin-bottom: 80px;
}

.first-banner .inputs {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.first-banner .input {
    padding: 16px 16px;
    border: 0;
    border-radius: 8px;
    margin: 16px 24px;
}


.first-banner .btn-primary {
    font-weight: 700px;
    font-size: 1rem;
}

/* popular-tours section styles */

.popular-tours {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.text-description {

    max-width: 580px;

}

.text-description>h2 {
    text-align: left;
}

.text-description>p,
li {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    padding-top: 20px;
    text-align: left;
}

.text-description>button {
    margin-top: 30px;
}

/* choose-your-destination section styles */

.choose-your-destination h2,
p {
    max-width: 640px;
    text-align: center;
    margin: 20px auto;
}

/* Locations style section */

.row-1,
.row-2,
.row-3 {
    display: flex;
    gap: 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    justify-content: center;

}

.box {
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 24px;
}

.Maldives {
    background-image: url(../Images/Rectangle\ 5.png);
    padding: 132px 227px;
}

.Indonesia {
    background-image: url(../Images/Rectangle\ 8.png);
    padding: 132px 227px;
}

.Srilanka {
    background-image: url(../Images/Rectangle\ 6.png);
    padding: 125px 130px;
}

.America {
    background-image: url(../Images/Rectangle\ 7.png);
    padding: 125px 137px;
}

.Kashmir {
    background-image: url(../Images/Rectangle\ 9.png);
    padding: 125px 80px;
}

.Bangladesh {
    background-image: url(../Images/Rectangle\ 11.png);
    padding: 132px 155px;
}

.Bandarban {
    background-image: url(../Images/Rectangle\ 10.png);
    padding: 132px 260px;
}


/* why choose us section */

.why-choose-us-description {
    text-align: center;
    margin-top: 76px;
    margin-bottom: 50px;

}

.cards-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.card img {
    max-width: 64px;
    max-height: 64px;
}

.card p {
    color: #5A5A5D;
    max-width: 485px;
    text-align: left;
}

.pink {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.sky-blue {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.paste {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.card {
    padding: 30px 70px 30px 30px;
    border-radius: 16px;
    max-width: 570px;
    max-height: 285px;
    margin: 24px auto;

}

/* deals and offers styles section*/

.deals-discounts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.deals-discounts > h2{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}

.deal {
    border: 2px solid white;
    max-width: 1170px;
    max-height: 500px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.deal-text p {
    text-align: left;
}


.deal-text{
    max-width: 500px;
    max-height: 390px;
    background: rgba(255, 255, 255, 0.80);
    border: 2px solid #FFF;
    padding: 50px;
    margin: 75px 60px 75px 550px;
    border-radius: 16px;
    backdrop-filter: blur(2.5px);
    
}

.deal-nav {
    display: flex;
    margin-top: -30px;
    margin-bottom: 10px;
}

.deal-nav img{
    margin-right: 8px;
    margin-bottom: -3px;
}

.deal .dark {
    color: #131318;
}

.deal .orange {
    color: #FF5400;
    margin-bottom: 20px;
}

.deal-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 10px;
}

.first-container , .third-container{
    background-image: url("../Images/Group\ 39.png");
}
.second-container{
    background-image: url(../Images/Group\ 40.png);
}



/* Responsive styles */
/* Responsive styles */
/* Responsive styles */
/* Responsive styles */
/* Responsive styles */
/* Mobile */
@media screen and (max-width: 576px) {

    nav {
        margin-left: -15px;
        text-align: left;
        padding: 8px 30px;
    }

    .title-box h3 {
        font-size: 1.35rem;
    }

    nav>ul {
        display: none;
    }

    /* first-banner responsive */

    .first-banner {
        padding: 10px;
        background-size: cover;
        align-items: center;
        padding: 20px 60px;
        border-radius: 8px;
    }

    .first-banner>h1 {
        font-size: 1.375rem;
        margin-bottom: 0px;
    }

    .first-banner>p {
        margin: 10px auto;
    }

    .first-banner .inputs {
        flex-direction: column;
        margin: 5px auto;
        padding-bottom: 10px;
    }

    .first-banner .input {
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .first-banner .btn-primary {
        margin-top: 16px;
    }

    /* popular-tours responsive  */

    .popular-tours,
    .cards-container {
        flex-direction: column;
    }

    .title-styled,
    .card h4 {
        font-size: 1.25rem;
    }

    .primary-text,
    .card p {
        font-size: 0.875rem;
    }

    .text-description {
        max-width: 350px;
        margin: 0px auto;
        margin-top: -80px;
    }

    .img-mountain {
        margin: 0 20px;
        max-width: 335px;
        max-height: 342px;
    }

    /* choose your destination section responsive */

    .title-styled ,.choose-your-destination h2 {
        color: #131318;
        text-align: center;
        font-size: 1.25rem;
    }

    .choose-your-destination h2,
    p,
    .card p {
        max-width: 300px;
    }

    .row-1,
    .row-2,
    .row-3 {
        flex-direction: column;
        gap: 0px;
    }

    .box {
        padding: 75px 100px;
        background-size: 330px 170px;
        background-position: center;
        margin: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    /* why choose us section responsive */

    .card {
        max-width: 330px;
        padding: 10px;
        margin: 0;
    }

    .paste {
        width: 300px;
        height: 245px;
        margin: 15px auto;
    }

    .card img {
        max-width: 48px;
        max-height: 48px;
    }

    /* deals and offers styles section RESPONSIVE*/

    .deal{
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        
    }

    .deals-discounts h2{
        text-align: center;
    }
    .deals-discounts h2 , .deal-title {
        color: #131318;
        font-size: 1.25rem;
    }

    .deal-nav{
        flex-direction: column;
    }
    .deal-nav p{
        margin: 5px auto;
        padding-top: 10px;
    }


    .deal-text{
        margin: 120px 16px 66px 16px;
        padding: 20px 10px;    
    }

}